@model ProductTypeCreateModel

<div class="addProduct">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="CreateProduct" asp-controller="Product" method="post">
        <div class="form-group">
            <label asp-for="ProductTypeName">Product type name</label>
            <div><span asp-validation-for="ProductTypeName" class="text-danger"></span></div>
            <input asp-for="ProductTypeName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Dimensionality"></label>
            <div><span asp-validation-for="Dimensionality" class="text-danger"></span></div>
            <input asp-for="Dimensionality" class="form-control" />
        </div>

        <div>
            <button class="btn btn-success" type="submit">Add</button>
        </div>
    </form>
</div>

