@model QuickResponse.Models.ViewModels.IndexViewModel
    <div class="col-sm-2">
        <div class="form-group">
            <a href="/Account/Login">Sign In</a>
            @*<input asp-action="Login" asp-controller="Account" type="button" value="SignIn" class="btn btn-default btn-header-login">*@
        </div>
    </div>

    @foreach (var p in Model.Posts)
    {
        <div>
            <h3>@p.PostName</h3>
            <h5> @p.PostType</h5>
            @p.Body

        </div>
    }
    <div page-model="@Model.PagingInfo" page-action="Index"></div>
