@model PostCreateModel
@{
    ViewBag.Title = "PostCreate";
    Layout = "_Layout";
}

@*<script>
        //function create() {
        //    window.$.ajax({
        //        type: "Get",
        //        url: "/Product/CreateProduct",
        //        success: function (data) {
        //            $('#create').html(data);
        //        },
        //        failure: function (errMsg) {
        //            alert(errMsg);
        //        }
        //    });
        //}

        //function add() {
        //    let postName = $('#postName').val();
        //    let productTypeId = $('#productTypeId').val();
        //    let postType = $('#postType').val();
        //    let count = $('#count').val();
        //    let price = $('#price').val();
        //    let body = $('#body').val();
        //    $.ajax({
        //        url: "/Post/CreatePost",
        //        type: "POST",
        //        dataType: 'json',
        //        contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        //        data: {
        //            PostName: postName,
        //            ProductTypeId: productTypeId,
        //            PostType: postType,
        //            Count: count,
        //            Price: price,
        //            Body: body,
        //        }
        //    });

        //}
    </script>*@

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"></div>
        </div>
        <div class="col-md-5 border-right">
            <form asp-action="CreatePost" asp-controller="Post" method="post">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Create Post</h4>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Post name</label><input type="text" asp-for="PostName" class="form-control"></div>
                        <div class="col-md-12">
                            <label class="labels">Post type</label>
                            <select class="form-control" id="PostType" name="PostType">
                                <option>Choose your option</option>
                                <option value="LookingFor">Looking for</option>
                                <option value="ForSale">For sale</option>
                            </select>
                        </div>
                        <div class="col-md-12"><label class="labels">Count</label><input type="text" asp-for="Count" class="form-control"></div>
                        <div class="col-md-12"><label class="labels">Price</label><input type="text" asp-for="Price" class="form-control" placeholder="price"></div>
                        <div class="col-md-12"><label class="labels">Description</label><textarea asp-for="Body" class="form-control" placeholder="description"></textarea> </div>
                        <div class="col-md-12">
                            <label class="labels">Product type</label>
                            <select class="form-control" id="ProductTypeId" name="ProductTypeId">
                                @foreach (var type in Model.ProductTypes)
                                {
                                    <option value="@type.ProductTypeId">@type.ProductTypeName</option>
                                }
                            </select>
                            <div class="mb-2" id="create">
                                <button asp-action="CreateProduct" asp-controller="Product" class="btn btn-success mb-2">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Post</button></div>
                    <div class="text-center">
                        @Html.ActionLink("To back", "AccountPage","Account")
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<style>
    body {
        background-image: url('https://www.bootdey.com/img/Content/bg1.jpg');
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #682773;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>




