@model UserLoginModel
@{
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
        <input asp-for="Password" class="form-control" />
    </div>
    <div>
        <button class="btn btn-success" type="submit">Log In</button>
    </div>
    <div class="d-flex justify-content-center links">
        Don't have an account?<a href="/Account/Registration">Sign Up</a>
    </div>
</form>

